@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "用户管理";
}

<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-weight:bold;margin-bottom:20px;">用户管理</h2>
        <hr />
        <p class="btn btn-primary" style="font-size:16px;">
            @Html.ActionLink("创建新用户", "Create")
        </p>
        <br /><br />
    </div>
</div>

@foreach (var item in Model)
{
    <div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <label for="UserName">用户邮箱</label>
            <p style="font-size:16px;display:inline;">
                @Html.DisplayFor(modelItem => item.UserName)
            </p>
            <div>
                <p class="btn btn-primary" style="font-size:16px;display:inline;margin-right:20px;">
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id })
                </p>
                <p class="btn btn-primary" style="font-size:16px;display:inline;margin-right:20px;">
                    @Html.ActionLink("查看详情", "Details", new { id = item.Id })
                </p>
                <p class="btn btn-primary" style="font-size:16px;display:inline;margin-right:20px;">
                    @Html.ActionLink("删除", "Delete", new { id = item.Id })
                </p>
            </div>
            <br /><br />
        </div>
    </div>
}
