@model IEnumerable<MyWeiboProject202005061120.Models.Follower>
@using Microsoft.AspNet.Identity
@using MyWeiboProject202005061120.Models;
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "全部粉丝";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-weight:bold;">全部粉丝</h2>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="col-md-1"></div>
    <div class="col-md-5" style="border-color: #ff0000;border-bottom-width:5px;margin-bottom:50px;">
        @*显示用户头像*@
        @if (item.Users.Photo != null)
        {
            <img src="~/myUploads/@item.UsersSet.Photo" style="height:50px;width:50px;display:block,inline" class="img-circle" />
        }
        @*显示用户名 对于登录用户，点击用户名可查看用户信息*@
        @if (Request.IsAuthenticated && User.IsInRole("Admin") == false && User.IsInRole("Advertiser") == false)
        {
            <p style="font-size:20px;display:inline;">
                @Html.ActionLink(item.UsersSet.UserName, "ShowBasicInformation", "Manage", new { id = item.UsersSet.UserId }, htmlAttributes: new { title = "UsersInfo" })
            </p>
        }
        @if (!Request.IsAuthenticated || (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Advertiser"))))
        {
            <p style="font-size:20px;display:inline;">
                @Html.DisplayFor(modelItem => item.UsersSet.UserName)
            </p>
        }
        <p style="display:inline;margin-left:20px;font-size:18px;">
            @*显示关注时间*@
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </p>
        <br />
        @if (User.Identity.GetUserId() == item.Users.UserId)
        {
            <p style="font-size:16px;margin-left:50px;" class="btn btn-primary">
                @Html.ActionLink("移除粉丝", "DeleteMyFollowers", new { followerid = item.FollowersId })
            </p>
        }
    </div>
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("ShowFollowers", new { page }))
        <p style="font-size:16px;">
            <input type="button" onclick="javascript: window.history.go(-1);" value="返回" class="btn btn-primary" />
        </p>
    </div>
</div>
