@model MyWeiboProject202005061120.Models.Posts
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "删除动态";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-family:YouYuan;font-weight:bold;">删除动态</h2>
        <hr />
        <h3 style="font-family:YouYuan;font-weight:bold;font-size:20px;">确定要删除此条动态?</h3>
        <br />
    </div>
</div>

<div>
    <div class="col-md-1"></div>
    <div class="col-md-11" style="border-color: #ff0000;border-bottom-width:5px;margin-bottom:50px;">
        @*显示用户头像*@
        @if (Model.Users.Photo != null && Model.Users.Photo != "")
        {
            <img src="~/myUploads/@Model.Users.Photo" style="height:50px;width:50px;display:block,inline" class="img-circle" />
        }
        @*显示用户名 对于登录用户，点击用户名可查看用户信息*@
        <p style="font-size:20px;display:inline;">
            @Html.DisplayFor(modelItem => Model.Users.UserName)
        </p>
        <br />
        @*显示动态内容*@
        <p style="font-size:25px;margin-left:50px;">
            @Html.DisplayFor(modelItem => Model.Body)
        </p>
        @*显示动态图片*@
        <p style="margin-left:50px;">
            @if (Model.Photo != "" && Model.Photo != null)
            {
                <img src="~/myUploads/@Model.Photo" style="height:300px;display:block,inline;" />
            }
            @if (Model.Photo == "" || Model.Photo == null)
            {
                @Html.DisplayFor(modelItem => Model.Photo)
            }
        </p>
        <div style="font-size:18px;margin-left:50px;">
            <p style="display:inline">
                @*显示动态评论数*@
                <img style="display:inline;height:20px;" src="~/myUploads/comments.png" />
                @Html.DisplayFor(modelItem => Model.CommentsNumber)
            </p>
            <p style="display:inline;margin-left:20px;">
                @*显示动态点赞数*@
                <img style="display:inline;height:20px;" src="~/myUploads/likes.png" />
                @Html.DisplayFor(modelItem => Model.LikesNumber)
            </p>
            <p style="display:inline;margin-left:20px;">
                @*显示动态发布时间*@
                @Html.DisplayFor(modelItem => Model.TimeStamp)
            </p>
        </div>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br />
                <div class="form-actions no-color">
                    <input type="submit" value="删除" class="btn btn-primary" style="font-size:16px;" /> 
                </div>
            }
        </div>
    </div>
</div>
<p class="btn btn-primary" style="font-size:18px;">
    @Html.ActionLink("返回", "ShowUsersPosts", "Posts", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "ShowUsersPosts" })
</p>


