@model MyWeiboProject202005061120.Models.Posts
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "动态详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-family:YouYuan;font-weight:bold;">动态详情</h2>
    </div>
</div>

<div>
    <div class="col-md-1"></div>
    <div class="col-md-11" style="border-color: #ff0000;border-bottom-width:5px;margin-bottom:50px;">
        @*显示用户头像*@
        @if (Model.Users.Photo != null && Model.Users.Photo != "")
        {
            <img src="~/myUploads/@Model.Users.Photo" style="height:50px;width:50px;display:block,inline" class="img-circle" />
        }
        @*显示用户名 对于登录用户，点击用户名可查看用户信息*@
        @if (Request.IsAuthenticated && User.IsInRole("Admin") == false && User.IsInRole("Advertiser") == false)
        {
            <p style="font-size:20px;display:inline;">
                @Html.ActionLink(Model.Users.UserName, "ShowBasicInformation", "Manage", new { id = Model.Users.UserId }, htmlAttributes: new { title = "UsersInfo" })
            </p>
        }
        @if (!Request.IsAuthenticated || (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Advertiser"))))
        {
            <p style="font-size:20px;display:inline;">
                @Html.DisplayFor(modelItem => Model.Users.UserName)
            </p>
        }
        <br />
        @*显示动态内容*@
        <p style="font-size:25px;margin-left:50px;">
            @Html.DisplayFor(modelItem => Model.Body)
        </p>
        @*显示动态图片*@
        <p style="margin-left:50px;">
            @if (Model.Photo != "" && Model.Photo != null)
            {
                <img src="~/myUploads/@Model.Photo" style="height:300px;display:block,inline;" />
            }
            @if (Model.Photo == "" || Model.Photo == null)
            {
                @Html.DisplayFor(modelItem => Model.Photo)
            }
        </p>
        <div style="font-size:18px;margin-left:50px;">
            <p style="display:inline">
                @*显示动态评论数 点击图标查看动态全部评论*@
                <img style="display:inline;height:20px;" src="~/myUploads/comments.png" />
                @Html.DisplayFor(modelItem => Model.CommentsNumber)
            </p>
            <p style="display:inline;margin-left:20px;">
                @*显示动态点赞数 点击图标可以给动态点赞*@
                <img style="display:inline;height:20px;" src="~/myUploads/likes.png" />
                @Html.DisplayFor(modelItem => Model.LikesNumber)
            </p>
            <p style="display:inline;margin-left:20px;">
                @*显示动态发布时间*@
                @Html.DisplayFor(modelItem => Model.TimeStamp)
            </p>
        </div>
        <div style="font-size:18px;margin-left:50px;">
            @*显示发布该动态的用户可以对动态的操作 Vip用户可以编辑*@
            @if (Request.IsAuthenticated && Model.Users.UserId == User.Identity.GetUserId())
            {
                if (User.IsInRole("VipUser"))
                {
                    <p style="display:inline;">
                        @Html.ActionLink("编辑", "Edit", "Posts", new { id = Model.Id }, htmlAttributes: new { title = "EditPost" })
                    </p>
                }
                <p style="display:inline;margin-left:30px;">
                    @Html.ActionLink("删除", "Delete", "Posts", new { id = Model.Id }, htmlAttributes: new { title = "DeletePost" })
                </p>
            }
        </div>
    </div>
</div>
<div>
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <p class="btn btn-primary">
            @Html.ActionLink("评论", "CreateComment", new { id = Model.Id })
        </p>
        @if (User.IsInRole("Admin") == false && User.IsInRole("Advertiser") == false)
        {
            if (Request.IsAuthenticated && Model.IsLiked(User.Identity.GetUserId(), Model.Id))
            {
                <p class="btn btn-primary">
                    @Html.ActionLink("取消点赞", "DeleteLike", new { id = Model.Id })
                </p>

            }
            if (Request.IsAuthenticated && !Model.IsLiked(User.Identity.GetUserId(), Model.Id))
            {
                <p class="btn btn-primary">
                    @Html.ActionLink("点赞", "CreateLike", new { id = Model.Id })
                </p>
            }
        }
        @if (User.Identity.GetUserId() == Model.Users.UserId && Request.IsAuthenticated && (User.IsInRole("VipUser") || User.IsInRole("Advertiser")))
        {
            <p class="btn btn-primary">
                @Html.ActionLink("编辑", "Edit", new { id = Model.Id })
            </p>

        }
        <p class="btn btn-primary">
            @Html.ActionLink("查看评论", "ShowPostComments", new { id = Model.Id })
        </p>
    </div>
</div>

<div>
    <input type="button" onclick="javascript: window.history.go(-1);" value="返回" class="btn btn-primary" />
</div>

